node_modules
src/storage/fonts/*.*
src/test.js
src/*.jpg
src/storage/*.jpg

build/storage/fonts/*.*
build/test.js
build/*.jpg
build/storage/*.jpg
build/controllers
build/models
build/routes
build/*.js
